.a {
    display: inline-block;
    position: relative;
    margin: 0.5cm;
    float: left;
    width: 7.6cm;
    height: 7.6cm;
    border: 0.0px dashed black;
    background-color: lightgrey;
}

.b {
    display: inline-block;
    position: absolute;
    padding: 0.5cm;
    width: 6cm;
    height: 6cm;
    background-color: lightgrey;
    word-wrap: break-word;
}

.c {
    display: inline-block;
    position: absolute;
    padding:  0.2cm;
    width: 4cm;
    height: 0.5cm;
    background-color: lightgrey;
    bottom: 0cm;
    left: 0cm;
}

.d {
    display: inline-block;
    position: absolute;
    padding: 0.10cm;
    width: 0.8cm;
    border-left: 0.01cm solid black;
    border-top: 0.01cm solid black;
    background-color: lightgrey;
    right: 0px;
    bottom: 0px;
}
.name_text {
    text-align: left;
    font-family: Arial , Gadget, sans-serif;
    font-size:1.5em;
    font-weight: bold;
}

.id_text {
    text-align: left;
    font-size:1.2em;
    font-family: Arial , Gadget, sans-serif;
}

.points_text {
    text-align: right;
    font-size:1.5em;
    font-family: Arial , Gadget, sans-serif;
    font-weight: bold;
}

@media print {
    footer {page-break-after: always;}
}
